body {
    text-align: center;
    font-family: arial, sans-serif;
    color: #1e1f24;
    font-size: 30px;
    margin: 0;
    padding: 0;
    background-color: #696969;
}

#cabecera{
    background: #37488b;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color:#fff;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}


#container {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 3px solid #333;
    border-radius: 10px;
    margin: 30px auto;
}

#container h1{
    font-size: 35px;
    /* text-align: center; */
}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#cabecera #logo{
    width: 50px;
    vertical-align: middle;
}

#post{
    padding: 10px;
    background: white;
}